:root {
--primary-color: #000000;        
--focus-color: rgb(181, 28, 20);
--transition-duration: 0.25s;
}

i.fi {
color: var(--primary-color);
transition: color var(--transition-duration) ease, 
transform var(--transition-duration) ease;            
cursor: pointer;}

i.fi:hover,
 i.fi:focus {
    color: var(--focus-color);
    transform: scale(0.05);
    /* outline: 2px solid rgba(116, 116, 106, 0.6); */
    /* outline-offset: 2px; */
    }